body {
    margin: 0;
    padding: 0;
    background-color: #95bfdb;
    font-family: 'Cormorant Garamond', serif;
}

.hero img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.hero {
    position: relative;
}
.header-title {
    position: absolute;
    bottom: 75px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    letter-spacing: 1px;
    font-size: 4rem;
    font-weight: 600;
    font-family: 'Cormorant Garamond', serif;
    text-shadow: none
}

.menu {
    background-color: #437fbb;
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 30px 0;
    border-radius: 20px;
    width: 80%;
    margin: 40px auto;
}

.menu a {
    font-family: 'Cormorant Garamond', serif;
    font-size: 34px;
    color: white;
    text-decoration: none;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    width: 80%;
    margin: 20px auto;
}

.box {
    background: white;
    padding: 40px;
    border-radius: 20px;
}

h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
    margin-top: 0;
    color: #437fbb; 
}

p {
font-size: 26px; ;
color: #437fbb;    
}

.footer {
    background: white;
    width: 79%;
    margin: 30px auto;
    text-align: center;
    padding: 15px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 26px;
    border-radius: 20px;
    color: #437fbb; 
}
